body{
    width: 100%;
    background-image: linear-gradient(to bottom left, #ff3867, #ffc873, #d37ec6);
}
#secCapa{
    width: 100%;
    display: flex;
    place-content: center;
}
#capaCard{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(145,145,145,1);
    box-shadow: inset 0px 0px 13px 0px rgba(145,145,145,1);
}
#portada{
    width: 300px;
    height: 200px;
    background-image: url();
}
